In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
from tqdm import tqdm_notebook
import concurrent.futures
from multiprocessing import Pool

In [2]:
import sqlite3

# 创建连接及游标
- 若不存在会自动创建

In [3]:
conn = sqlite3.connect('test.db')
c = conn.cursor()

# 以表为单位的操作

## 获取所有表

In [29]:
c.execute("SELECT name FROM sqlite_master WHERE type='table'")
Tables = c.fetchall() # Tables 为元组列表
Tables
conn.commit()

[('COMPANY_NEW',)]

## 获取表信息（字段信息）

In [34]:
# 获取表的列名
c.execute("SELECT * FROM {}".format("COMPANY"))
col_name_list = [tuple[0] for tuple in c.description]
print(">>> 所有列名如下：")
print(col_name_list)

# 获取表结构的所有信息
c.execute("PRAGMA table_info({})".format("COMPANY"))
print(">>> 完整表字段信息如下：")
for i in c.fetchall(): print(i)

>>> 所有列名如下：
['ID', 'NAME', 'AGE', 'ADDRESS', 'SALARY']

>>> 完整表字段信息如下：
(0, 'ID', '', 1, None, 1)
(1, 'NAME', 'TEXT', 1, None, 0)
(2, 'AGE', 'INT', 1, None, 0)
(3, 'ADDRESS', 'CHAR(50)', 0, None, 0)
(4, 'SALARY', 'REAL', 0, None, 0)

## 创建表格

In [32]:
sql = """
CREATE TABLE COMPANY(
    ID PRIMARY KEY NOT NULL,
    NAME TEXT NOT NULL,
    AGE INT NOT NULL,
    ADDRESS CHAR(50),
    SALARY REAL
);
"""
c.execute(sql)
conn.commit()

## 删除表

In [19]:
c.execute('DROP TABLE COMPANY')
conn.commit()

## 修改表名
- ALTER TABLE 旧表名 **RENAME TO** 新表名
- ALTER TABLE 表名 **ADD COLUMN** 列名 数据类型

In [31]:
c.execute("ALTER TABLE COMPANY RENAME TO COMPANY_NEW")

OperationalError: no such table: COMPANY

# 表内数据的操作

## 增

In [25]:
sql = "insert into COMPANY values ('Alpha','jason',36,'New York 3-11', 22.2)"
c.execute(sql)
sql = "insert into COMPANY values ('Beta','tom',42,'Boston 2-11', 11.0)"
c.execute(sql)
conn.commit()

## 删

In [ ]:
# 使用参数化查询，来防止SQL注入
title = "abc"
sql = "delete BOOK where title=?"
c.execute(sql,title)

#insecure
# sql = "delete BOOK where title={}".format('linux')
# c.execute(sql)

## 改

In [ ]:
sql = "update BOOK set title='flask' where rowid=1"
c.execute(sql)
conn.commit()

## 查

In [15]:
sql = "select * from COMPANY"
#执行SQL之后，得到corsor对象。可以使用for循环遍历出结果。
companys = c.execute(sql)
for row in companys:
    print(row)


sql = "select * from COMPANY"
c.execute(sql)
lst = c.fetchall()
for row in lst:
    print(row)

('Alpha', 'jason', 36, 'New York 3-11', 22.2)
('Beta', 'tom', 42, 'Boston 2-11', 11.0)

('Alpha', 'jason', 36, 'New York 3-11', 22.2)
('Beta', 'tom', 42, 'Boston 2-11', 11.0)

In [23]:
companys
lst[0]

('Alpha', 'jason', 36, 'New York 3-11', 22.2)

# 关闭

In [10]:
c.close()
conn.close()

# 查询、插入示例

In [38]:
from enum import Enum, unique
import sqlite3
import time
import json
@unique
class DBNames(Enum):
    DBName = "AggSearchServer.db"
    Google_TableName = "GOOGLE_RES"
    Wiki_TableName = "WIKI_RES"
    Google_TableStruct = """
            query TEXT PRIMARY Key,
            redirectW TEXT,
            result TEXT"""

def initTable(tableName, tableStructure, clearHistory=False):
    conn = sqlite3.connect(DBNames.DBName.value)
    c = conn.cursor()

    c.execute("SELECT name FROM sqlite_master WHERE type='table'")
    Tables = [i[0] for i in c.fetchall()]
    print(f"当前所有表：{Tables}")
    
    # check 
    if DBNames.Google_TableName.value in Tables:
        if clearHistory:
            c.execute(f"ALTER TABLE {tableName} RENAME TO {tableName}_old")
            print(f"【原表存在】 更名：{tableName} --> {tableName}_old")
        else:
            print(f"【原表存在】直接使用")
    else:
        print(f"【原表不存在】 创建")
        command = f"""CREATE TABLE {tableName}({tableStructure})"""
        c.execute(command)
    
    # log
    c.execute(f"PRAGMA table_info({tableName})")
    print(">>> 完整表字段信息如下：")
    for i in c.fetchall(): print(i)
    
    # close
    c.close()
    conn.commit()
    conn.close()
    return None

def dropTable(tableName):
    print(f"【WARN】 将删除table {tableName}")
    time.sleep(30)
    conn = sqlite3.connect(DBNames.DBName.value)
    c = conn.cursor()
    c.execute(f"DROP TABLE {tableName}")
    c.close()
    conn.commit()
    conn.close()
    # dropTable(DBNames.Google_TableName.value)
    return None


initTable(DBNames.Google_TableName.value, DBNames.Google_TableStruct.value)
# initTable(DBNames.Wiki_TableName.value, DBNames.Wiki_TableStruct.value)

当前所有表：['GOOGLE_RES_old', 'GOOGLE_RES']
【原表存在】直接使用
>>> 完整表字段信息如下：
(0, 'query', 'TEXT', 0, None, 1)
(1, 'redirectW', 'TEXT', 0, None, 0)
(2, 'result', 'TEXT', 0, None, 0)

In [46]:
conn = sqlite3.connect(DBNames.DBName.value)
def search_db(query,tableName):
    c = conn.cursor()
    c.execute(f"SELECT * FROM {tableName} where query=?",(query,))
    res = c.fetchall()
    resultJSON = None # 默认（未查到）值为None
    if(len(res)>0):
        (query,redirectW,result) = res[0]
        result_dictArr = json.loads(result)
        c.close()
        conn.commit()
        resultJSON = json.dumps({"query":query,"redirect":redirectW,"q_result":result_dictArr})
    return resultJSON

def insert_db(resultJSON,tableName):
    c = conn.cursor()
    
    jsonDict = json.loads(resultJSON)
    query = jsonDict['query']
    redirectW = jsonDict['redirect']
    result = json.dumps(jsonDict['q_result'])
    c.execute(f"insert into {tableName} values (?,?,?)",(query,redirectW,result))# query redirect result
    c.close()
    conn.commit()
    return None

In [47]:
resultJSON = """{"query": "uuwbegoa", "redirect": "w goa", "q_result": [{"title": "Luxury Boutique Hotel in Bardez - Goa | W Goa - Marriott.com", "link": "https://www.marriott.com/hotels/travel/goiwh-w-goa/", "summary": " Rating: 4.1 - \u200e34 votesVagator Beach, Bardez - Goa 403509 India. ... W Goa - The Best Luxury Beach Resort in Goa. ... W Goa captures the rustic and dramatic landscape of Goa as well as its cosmopolitan, multi-cultural vibe, injecting Vagator with the exuberant spirit uniquely known to W Hotels.\u200eRooms \u00b7\u00a0\u200eHotel Details \u00b7\u00a0\u200ePhotos \u00b7\u00a0\u200eVagator Beach, Bardez - Goa ...", "query": "uuwbegoa"}, {"title": "Hotel Rooms & Amenities | W Goa - Marriott Hotels", "link": "https://www.marriott.com/hotels/hotel-rooms/goiwh-w-goa/", "summary": "Browse hotel room details for W Goa. You'll be delighted with our Bardez - Goa hotel room options.", "query": "uuwbegoa"}, {"title": "Resort W Goa, Vagator, India - Booking.com", "link": "https://www.booking.com/hotel/in/w-retreat-spa-goa.html", "summary": " Rating: 8.6/10 - \u200e599 reviews - \u200ePrice range: Prices for upcoming dates start at $152 per night (We Price Match)Offering a spa center and sauna and 24-hour concierge service, W Goa is set in Vagator.", "query": "uuwbegoa"}, {"title": "W GOA (Vagator) - Updated 2019 Prices, Hotel Reviews & Photos ...", "link": "https://www.tripadvisor.in/Hotel_Review-g1204883-d10679217-Reviews-W_Goa-Vagator_North_Goa_District_Goa.html", "summary": " Rating: 4.5 - \u200e791 reviews - \u200ePrice range: \u20b9\u20b9 (Based on Average Nightly Rates for a Standard Room from our Partners)W Goa, Vagator: See 770 traveller reviews, 1183 user photos and best deals for W Goa, ranked #3 of 26 Vagator hotels, rated 4.5 of 5 at TripAdvisor.", "query": "uuwbegoa"}, {"title": "Resort W Goa Goa - ( \u03361\u03363\u03365\u03364\u03369\u0336 ) Hotel HD Photos & Reviews", "link": "https://www.makemytrip.com/hotels/resort_w_goa-details-goa.html", "summary": " Rating: 4.6 - \u200e40 reviews - \u200ePrice range: Resort W Goa Prices for upcoming dates start \u20b9 13,549/Night - Prices of Resort W Goa will vary based on your dates of travel, Book Now! (Based on Average Rates for a Standard Room)Best Price Guarantee \u27a4 Book Resort W Goa, Goa online deal and discounts with lowest price on Hotel Booking. Check all guest reviews & photos of Resort W\u00a0...", "query": "uuwbegoa"}, {"title": "Bohemian Whimsy Meets Modern Luxury At The Newly Opened W Goa", "link": "https://www.forbes.com/sites/debbieyong/2017/03/27/a-first-look-at-the-w-goa-w-hotels-highly-anticipated-india-debut/", "summary": "Mar 27, 2017 - W Goa marks W Hotels' India debut and its 50th hotel worldwide.", "query": "uuwbegoa"}, {"title": "W Goa Hotel Review, India | Travel - The Telegraph", "link": "https://www.telegraph.co.uk/travel/destinations/asia/india/goa/hotels/w-goa-hotel/", "summary": " Rating: 8/10 - \u200eReview by Lee Cobaj - \u200ePrice range: Rooms from   \u00a3 162 per nightRead the W Goa, India hotel review on Telegraph Travel. See great photos, full ratings, facilities, expert advice and book the best hotel deals.", "query": "uuwbegoa"}, {"title": "W Goa (Vagator) \u2013 2019 Hotel Prices | Expedia.co.in", "link": "https://www.expedia.co.in/Goa-Hotels-W-Goa.h15439133.Hotel-Information", "summary": " Rating: 4.5 - \u200e44 reviewsResults 1 - 10 of 44 - W Goa - read reviews, look at the photos and get great deals. Book the W Goa with Expedia now and save!", "query": "uuwbegoa"}, {"title": "W GOA - Home | Facebook", "link": "https://www.facebook.com/wgoa1/", "summary": "W GOA, Goa, India. 53K likes. The Next best thing to happen to India!", "query": "uuwbegoa"}, {"title": "Hotel W Goa, Velha Goa - trivago.in", "link": "https://www.trivago.in/velha-goa-446949/hotel/w-goa-5850036", "summary": "Compare hotel prices and find the cheapest price for the W Goa Hotel in Velha Goa. View 0 photos and read 0 reviews. Hotel? trivago!", "query": "uuwbegoa"}]}"""
resultJSON2 = """{"query": "##%^$%##", "redirect": "##%^$%##", "q_result": []}"""

print(search_db("#%^$%##",DBNames.Google_TableName.value))
# insert_db(resultJSON,DBNames.Google_TableName.value)

None

# 【工具类】DBController

## 初始化用到的配置信息

In [48]:
from enum import Enum, unique
import sqlite3
import time
import json
@unique
class DBNames(Enum):
    DBName = "AggSearchServer.db"
    Google_TableName = "GOOGLE_RES"
    Wiki_TableName = "WIKI_RES"
    Google_TableStruct = """
            query TEXT PRIMARY Key,
            redirectW TEXT,
            result TEXT"""

## 类定义

In [49]:
import sqlite3
import time
class DBController():
    
    def __init__(self):
        self.conn = None
    
    def connect(self,db):
        self.conn = sqlite3.connect(db)
    
    def close(self,):
        self.conn.close()
    
    def checkAndInitTable(self,tableName, tableStructure, clearHistory=False):
        c = self.conn.cursor()

        c.execute("SELECT name FROM sqlite_master WHERE type='table'")
        Tables = [i[0] for i in c.fetchall()]
        print(f"当前所有表：{Tables}")

        # check 
        if DBNames.Google_TableName.value in Tables:
            if clearHistory:
                c.execute(f"ALTER TABLE {tableName} RENAME TO {tableName}_old")
                print(f"【原表存在】 更名：{tableName} --> {tableName}_old")
            else:
                print(f"【原表存在】直接使用")
        else:
            print(f"【原表不存在】 创建")
            command = f"""CREATE TABLE {tableName}({tableStructure})"""
            c.execute(command)

        # log
        c.execute(f"PRAGMA table_info({tableName})")
        print(">>> 完整表字段信息如下：")
        for i in c.fetchall(): print(i)

        # close
        c.close()
        self.conn.commit()
        return None

    def dropTable(self,tableName):
        print(f"【WARN】 将删除table {tableName}")
        time.sleep(30)
        c = self.conn.cursor()
        c.execute(f"DROP TABLE {tableName}")
        c.close()
        self.conn.commit()
        # dropTable(DBNames.Google_TableName.value)
        return None
    
    def search_db(self,query,tableName):
        c = self.conn.cursor()
        c.execute(f"SELECT * FROM {tableName} where query=?",(query,))
        res = c.fetchall()
        resultJSON = None # 默认（未查到）值为None
        if(len(res)>0):
            (query,redirectW,result) = res[0]
            result_dictArr = json.loads(result)
            c.close()
            self.conn.commit()
            resultJSON = json.dumps({"query":query,"redirect":redirectW,"q_result":result_dictArr})
        return resultJSON

    def insert_db(self,resultJSON,tableName):
        c = self.conn.cursor()
        jsonDict = json.loads(resultJSON)
        query = jsonDict['query']
        redirectW = jsonDict['redirect']
        result = json.dumps(jsonDict['q_result'])
        c.execute(f"insert into {tableName} values (?,?,?)",(query,redirectW,result))# query redirect result
        c.close()
        self.conn.commit()
        return None

## 使用

In [50]:
dbc = DBController()
dbc.connect(DBNames.DBName.value)
# 检查表是否存在
dbc.checkAndInitTable(DBNames.Google_TableName.value, DBNames.Google_TableStruct.value,clearHistory=False)

当前所有表：['GOOGLE_RES_old', 'GOOGLE_RES']
【原表存在】直接使用
>>> 完整表字段信息如下：
(0, 'query', 'TEXT', 0, None, 1)
(1, 'redirectW', 'TEXT', 0, None, 0)
(2, 'result', 'TEXT', 0, None, 0)

In [ ]:
# 插入数据
dbc.insert_db

In [54]:
# 查询数据
print(dbc.search_db("uuwbegoa",DBNames.Google_TableName.value))

{"query": "uuwbegoa", "redirect": "w goa", "q_result": [{"title": "Luxury Boutique Hotel in Bardez - Goa | W Goa - Marriott.com", "link": "https://www.marriott.com/hotels/travel/goiwh-w-goa/", "summary": " Rating: 4.1 - \u200e34 votesVagator Beach, Bardez - Goa 403509 India. ... W Goa - The Best Luxury Beach Resort in Goa. ... W Goa captures the rustic and dramatic landscape of Goa as well as its cosmopolitan, multi-cultural vibe, injecting Vagator with the exuberant spirit uniquely known to W Hotels.\u200eRooms \u00b7\u00a0\u200eHotel Details \u00b7\u00a0\u200ePhotos \u00b7\u00a0\u200eVagator Beach, Bardez - Goa ...", "query": "uuwbegoa"}, {"title": "Hotel Rooms & Amenities | W Goa - Marriott Hotels", "link": "https://www.marriott.com/hotels/hotel-rooms/goiwh-w-goa/", "summary": "Browse hotel room details for W Goa. You'll be delighted with our Bardez - Goa hotel room options.", "query": "uuwbegoa"}, {"title": "Resort W Goa, Vagator, India - Booking.com", "link": "https://www.booking.com/hotel/in/w-retreat-spa-goa.html", "summary": " Rating: 8.6/10 - \u200e599 reviews - \u200ePrice range: Prices for upcoming dates start at $152 per night (We Price Match)Offering a spa center and sauna and 24-hour concierge service, W Goa is set in Vagator.", "query": "uuwbegoa"}, {"title": "W GOA (Vagator) - Updated 2019 Prices, Hotel Reviews & Photos ...", "link": "https://www.tripadvisor.in/Hotel_Review-g1204883-d10679217-Reviews-W_Goa-Vagator_North_Goa_District_Goa.html", "summary": " Rating: 4.5 - \u200e791 reviews - \u200ePrice range: \u20b9\u20b9 (Based on Average Nightly Rates for a Standard Room from our Partners)W Goa, Vagator: See 770 traveller reviews, 1183 user photos and best deals for W Goa, ranked #3 of 26 Vagator hotels, rated 4.5 of 5 at TripAdvisor.", "query": "uuwbegoa"}, {"title": "Resort W Goa Goa - ( \u03361\u03363\u03365\u03364\u03369\u0336 ) Hotel HD Photos & Reviews", "link": "https://www.makemytrip.com/hotels/resort_w_goa-details-goa.html", "summary": " Rating: 4.6 - \u200e40 reviews - \u200ePrice range: Resort W Goa Prices for upcoming dates start \u20b9 13,549/Night - Prices of Resort W Goa will vary based on your dates of travel, Book Now! (Based on Average Rates for a Standard Room)Best Price Guarantee \u27a4 Book Resort W Goa, Goa online deal and discounts with lowest price on Hotel Booking. Check all guest reviews & photos of Resort W\u00a0...", "query": "uuwbegoa"}, {"title": "Bohemian Whimsy Meets Modern Luxury At The Newly Opened W Goa", "link": "https://www.forbes.com/sites/debbieyong/2017/03/27/a-first-look-at-the-w-goa-w-hotels-highly-anticipated-india-debut/", "summary": "Mar 27, 2017 - W Goa marks W Hotels' India debut and its 50th hotel worldwide.", "query": "uuwbegoa"}, {"title": "W Goa Hotel Review, India | Travel - The Telegraph", "link": "https://www.telegraph.co.uk/travel/destinations/asia/india/goa/hotels/w-goa-hotel/", "summary": " Rating: 8/10 - \u200eReview by Lee Cobaj - \u200ePrice range: Rooms from   \u00a3 162 per nightRead the W Goa, India hotel review on Telegraph Travel. See great photos, full ratings, facilities, expert advice and book the best hotel deals.", "query": "uuwbegoa"}, {"title": "W Goa (Vagator) \u2013 2019 Hotel Prices | Expedia.co.in", "link": "https://www.expedia.co.in/Goa-Hotels-W-Goa.h15439133.Hotel-Information", "summary": " Rating: 4.5 - \u200e44 reviewsResults 1 - 10 of 44 - W Goa - read reviews, look at the photos and get great deals. Book the W Goa with Expedia now and save!", "query": "uuwbegoa"}, {"title": "W GOA - Home | Facebook", "link": "https://www.facebook.com/wgoa1/", "summary": "W GOA, Goa, India. 53K likes. The Next best thing to happen to India!", "query": "uuwbegoa"}, {"title": "Hotel W Goa, Velha Goa - trivago.in", "link": "https://www.trivago.in/velha-goa-446949/hotel/w-goa-5850036", "summary": "Compare hotel prices and find the cheapest price for the W Goa Hotel in Velha Goa. View 0 photos and read 0 reviews. Hotel? trivago!", "query": "uuwbegoa"}]}